#n8n
CHAVE_N8N_BASIC_AUTH_ACTIVE=true
CHAVE_N8N_BASIC_AUTH_USER=
CHAVE_N8N_BASIC_AUTH_PASSWORD=
CHAVE_N8N_HOST=localhost
CHAVE_N8N_PORT=5678
CHAVE_N8N_PROTOCOL=http
CHAVE_N8N_OWNER_PASSWORD=

# n8n Instance Owner Configuration

KEY_N8N_INSTANCE_OWNER_MANAGED_BY_ENV=
KEY_N8N_INSTANCE_OWNER_EMAIL=
KEY_N8N_INSTANCE_OWNER_FIRST_NAME=
KEY_N8N_INSTANCE_OWNER_LAST_NAME=
# senha = anneai 
KEY_N8N_INSTANCE_OWNER_PASSWORD_HASH=

# Configuration for n8n Community Packages
KEY_N8N_COMMUNITY_PACKAGES_MANAGED_BY_ENV=true
KEY_N8N_COMMUNITY_PACKAGES=[{"name":"n8n-nodes-evolution-api"}]


# Evolution API
CHAVE_EVOLUTION_API_KEY=
CHAVE_SERVER_URL=http://localhost:8081
CHAVE_CONFIG_SESSION_PHONE_VERSION=2.3000.1040516757
CHAVE_EVOLUTION_API_PORT=8081


CHAVE_CORS_ORIGIN=*
CHAVE_CORS_METHODS=GET,POST,PUT,DELETE
CHAVE_CORS_CREDENTIALS=true

CHAVE_WEBHOOK_GLOBAL_ENABLED=true
CHAVE_WEBHOOK_GLOBAL_URL=
CHAVE_WEBHOOK_EVENTS_MESSAGES_UPSERT=true


# Redis
CHAVE_REDIS_PORT=6379
CHAVE_REDIS_PASSWORD=

# MySQL
CHAVE_MYSQL_PORT=3306
CHAVE_MYSQL_ROOT_USER=root
CHAVE_MYSQL_ROOT_PASSWORD=
CHAVE_MYSQL_DATABASE=mysql

# PHPMyAdmin
CHAVE_PHPMYADMIN_PORT=8080
CHAVE_PHPMYADMIN_HOST=mysql
CHAVE_PHPMYADMIN_USER=root
CHAVE_PHPMYADMIN_PASSWORD=

# PostgreSQL
CHAVE_POSTGRES_DB=evolution
CHAVE_POSTGRES_USER=evolution
CHAVE_POSTGRES_PORT=5432
CHAVE_POSTGRES_PASSWORD=
# PgAadmin
CHAVE_PGADMIN_DEFAULT_EMAIL=
CHAVE_PGADMIN_DEFAULT_PASSWORD=
CHAVE_PGADMIN_LISTEN_PORT=8082

# RabbitMQ
CHAVE_RABBITMQ_PORT=5672
CHAVE_RABBITMQ_MANAGEMENT_PORT=15672
CHAVE_RABBITMQ_DEFAULT_USER=root
CHAVE_RABBITMQ_DEFAULT_PASS=
CHAVE_RABBITMQ_COOKIE=

# RedisInsight
CHAVE_REDIS_INSIGHT_PORT=5540