.agents
.codex
.vscode
docker-compose.override.txt
docker-compose.override.yml
.dockerignore
.env
.gitignore


# Files and directories to ignore
data
data/n8n/
data/rabbitmq/
data/evolution-api/
data/redis/
data/postgresql/
files
workflows/